# 🔹 Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔹 Virtual Env
venv/
.env

# 🔹 Streamlit
.streamlit/

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 Logs
*.log

# 🔹 Config (IMPORTANT)
.config
.env.*

# 🔹 IDE
.vscode/
.idea/

# 🔹 Build
dist/
build/